include ../../mixins/index

footer#footer
	.container-fluid.text-xs-center
		i.fa.fa-copyright(style='margin-right:2px')
		| 2016 !{brand}, All Rights Reserved
		.text-md-right
			+abtn({
				text: 'TENET LOGIN',
				href: 'tenets',
				type: 'secondary-outline btn-sm',
				target: '_blank' 
			})
			//- a(href='tenets' target='_blank') Tenet Login
