include ../../mixins/index

nav#topNav.navbar.navbar-default
	.container(style='height:auto;min-height:100%')
		.nav-hamburger.hidden-md-up
			button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#bs-navbar')
				i.fa.fa-bars
				span.sr-only Toggle navigation
		#bs-navbar.navbar-collapse.collapse.navbar-toggleable-sm
			ul.nav.navbar-nav.nav-pills.nav-pills-danger.muted
				li.nav-item.active
					a.nav-link.page-scroll.navbar-brand(href='/tenets')
						i.fa.fa-home
						|  Tom's Tenets & Such
				each link in navLinks
					li.nav-item
						a.nav-link(href=link.href)= link.label
				li.nav-item.pull-xs-right
					+abtn({
						text: 'Sign Out',
						href: '/tenets/logout',
						icon: 'sign-out',
						type: 'primary-outline nav-item'
					})
