[submodule "keystone"]
	path = keystone
	url = https://matthewstyers@github.com/matthewstyers/keystone.git
[submodule "client"]
	path = client
	url = git@github.com:matthewstyers/react-redux-starter.git
