#work
{
    // img
    // {
    //     margin-bottom: 20px;
    //
    //     -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,.75);
    //        -moz-box-shadow: 0 2px 6px 2px rgba(0,0,0,.75);
    //             box-shadow: 0 2px 6px 2px rgba(0,0,0,.75);
    //
    //             filter: gray; /* IE6-9 */
    //     -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    // }
    //
    // img:hover
    // {
    //             filter: none; /* IE6-9 */
    //     -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    // }
    .grid-flex
    {
        font-size: 0;

        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        height: 100vw;

        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        overflow: scroll;
    }
    .grid-flex img
    {
        width: 30%;
        transition: .8s opacity;
        border-radius: 0;
    }
    .grid-flex:hover img
    {
        opacity: .3;
    }
    .grid-flex:hover img:hover
    {
        opacity: 1;
    }

    @supports not (flex-wrap: wrap)
    {
        .grid-flex
        {
            display: block;
        }
        .grid-flex img
        {
            display: inline-block;
            vertical-align: top;
        }
    }
}
