.modal {
  .list-group-item {
    border-color: rgba(256,256,256,0.15);
    border-width: 1px 0;
  }
  .modal-header {
    border-bottom: 1px solid rgba(256,256,256,0.15) !important;
  }
  .modal-footer {
    border-top: 1px solid rgba(256,256,256,0.15) !important;
  }

  .carousel-inner {
    display: flex;
    height: 450px;
    overflow: hidden;
    flex-direction: row;
    background-color: $brand-secondary;
    border-radius: $border-radius $border-radius 0 0;

    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
            box-orient: vertical;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
            box-align: center;
    align-items: flex-start;
  }
  .carousel-inner > .carousel-item > a > img,
  .carousel-inner > .carousel-item > img,
  .img-fluid {
    height: 450px;
    text-align: center;
  }
  .modal-header {
    padding: 0 1.25rem;
  }
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    padding: 1.25rem;
  }
  .list-group-item,
  .list-group,
  .modal-footer {
    font-weight: 200;
    color: $gray-lighter;
    background-color: inherit;
  }

  small {
    font-weight: 100;
  }
  .modal-dialog {
    width: 90%;
  }
}
