#topNav {
  min-height: auto;
  padding: 0;
  background-color: transparentize($brand-primary, 0.25);;
  .container {
    height: auto;
    min-height: 100%;
  }
  a {
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
  }
  a:hover {
    font-weight: normal;
    color: white;
  }
  a:active {
    color: $brand-danger;
  }

  .navbar-brand {
    font-weight: bold !important;
    letter-spacing: 0 !important;
  }

  .nav-pills .nav-item.open .nav-link,
  .nav-pills .nav-item.open .nav-link:focus,
  .nav-pills .nav-item.open .nav-link:hover,
  .nav-pills .nav-link.active,
  .nav-pills .nav-link.active:focus,
  .nav-pills .nav-link.active:hover,
  .nav-pills .nav-link.active .navbar-brand,
  .nav-pills .nav-link.active:focus .navbar-brand,
  .nav-pills .nav-link.active:hover .navbar-brand {
    background-color: $brand-danger;
    border-radius: 0;
  }
  @media (min-width: 768px) {
    li > a, li > a:focus {
      padding: 14px 20px;
      margin-top: 0;
      letter-spacing: 1.1px;
    }
  }
}


#topNavContact {
  display: flex;
  font-weight: bold !important;
  color: $brand-danger !important;

  align-content: center;
}
