#tenet-wrapper {
  // nav
  #topNav {
    color: $brand-secondary;
    background-color: $gray-lighter;
    a {
      font-weight: normal;
      color: $brand-secondary;
      letter-spacing: 2px;
    }
    a:hover {
      font-weight: normal;
      color: $brand-warning;
    }
    a:active {
      color: $brand-danger;
    }
    .nav-item .btn {
      padding: 10px 14px;
    }
  }
  .navbar-brand {
    padding: 14px 20px;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    background-color: transparent;
  }
  #topNavContact {
    font-weight: bold !important;
    color: $brand-danger !important;
  }

  // buttons
  .btn-primary-outline {
    color: $brand-secondary;
    background-color: transparent;
    border-color: $brand-secondary;
  }  
  //tables
  .table-striped {
    thead {
      td {
        font-weight: bold;
        border-top: 1px solid $gray-light;
        border-bottom: 2px solid $gray-light;
      }
    }
  }
}
