@import '../../../styles/local/variables';
#intro-brand {
  h1 {
    font-weight: 500;
    border: 1px solid white;
  }
  .serif {
    padding: 0.25rem 1rem;
    background-color: transparentize($brand-primary, 0.75);
  }
}
// .homepage-hero-module {
//   position: relative;
//   border-right: none;
//   border-left: none;
// }
//
// .no-video .video-container video,
// .touch .video-container video {
//   display: none;
// }
// // .no-video .video-container .poster,
// // .touch .video-container .poster {
// //   display: block !important;
// // }
// // .video-container {
// //   position: relative;
// //   bottom: 0;
// //   left: 0;
// //   width: 100%;
// //   height: 100%;
// //   overflow: hidden;
// //   background: #000;
// // }
// .poster img {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }
// .filter {
//   position: absolute;
//   z-index: 100;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.4);
// }
// // .video-container video {
// //   position: absolute;
// //   bottom: 0;
// //   z-index: 0;
// // }
// video.fillWidth {
//   width: 100%;
// }
