nav#topNav.navbar.navbar-default.navbar-fixed-top
	.container(style='height:auto;min-height:100%')
		.nav-hamburger.hidden-md-up
			button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#bs-navbar')
				i.fa.fa-bars
				span.sr-only Toggle navigation
		#bs-navbar.navbar-collapse.collapse.navbar-toggleable-sm
			ul.nav.navbar-nav.nav-pills.nav-pills-danger.muted
				li.nav-item.active
					a.nav-link.page-scroll.navbar-brand(href='/#first')
						i.fa.fa-home
						|  Tom's Offices & Such
				each link in navLinks
					li.nav-item
						a.nav-link(href=link.href)= link.label
						//- a.nav-item.nav-link(href=link.href class!='btn btn-lg ' + (section == link.key ? 'btn-success-outline active' : null))= link.label
				a.nav-item.nav-link.page-scroll(data-toggle='modal', title='Contact Tom Phillips', href='#aboutModal' id='topNavContact').pull-xs-right 1.866.TOM-PHIL
